/* -------------------------------------------------------------------------- */
/* Configurações Globais */

@font-face {
  font-family: "Futura Book";
  src: url("http://db.onlinewebfonts.com/t/b46bb1fc76216f5cd90457d0451dbee4.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/b46bb1fc76216f5cd90457d0451dbee4.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("http://db.onlinewebfonts.com/t/b46bb1fc76216f5cd90457d0451dbee4.woff2")
      format("woff2"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/b46bb1fc76216f5cd90457d0451dbee4.woff")
      format("woff"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/b46bb1fc76216f5cd90457d0451dbee4.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("http://db.onlinewebfonts.com/t/b46bb1fc76216f5cd90457d0451dbee4.svg#Futura Book")
      format("svg"); /* iOS 4.1- */
}

:root {
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --text-color: #abb2bf;
  --max-content-width-mobile: 90vw;
  --max-content-width-desktop: 580px;
  --margin: 1rem;
  --brighter-cell: #222222;
  --darker-cell: #090705;
}

body {
  background-color: #282a36;
  color: var(--text-color);
  font-family: var(--font-family);
  max-width: var(--max-content-width-mobile);
  padding-left: var(--margin);
  padding-right: var(--margin);
  padding-top: 1.5rem;
  padding-bottom: 30px;
}

/* -------------------------------------------------------------------------- */
/* Texto Básico */

h1 {
  font-size: 1.75rem;
  margin-left: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: #95c379;
}

a.local-link {
  color: #cc7847;
}

blockquote {
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-left: 20px;
  border-left: 3px solid var(--text-color);
  padding-left: 10px;
}

p#subtitulo {
  margin-top: 10px;
  margin-bottom: 25px;
}

ul li,
ol li {
  padding-bottom: 10px;
}

/* -------------------------------------------------------------------------- */
/* <div>s da página inicial */

div#index {
  padding-right: 10px;
}

div#index ol {
  counter-reset: item;
  margin-top: 8px;
  margin-left: 0;
  margin-bottom: 8px;
  padding: 0;
}

div#index li {
  display: table;
  margin: 0;
  padding-bottom: 5px;
}

div#index li:before {
  color: var(--local-link-color);
  content: counters(item, ".") ". ";
  counter-increment: item;
  display: table-cell;
  padding-right: 0.6em;
}

div#topo {
  display: inline-flex;
}

div#direita {
  margin-top: 12px;
  margin-left: 20px;
}

div #social-icons {
  margin-left: 5px;
  margin-bottom: 14px;
}

div#social-icons svg,
div#social-icons image {
  height: 30px;
  width: 30px;
  margin-right: 25px;
}

/* -------------------------------------------------------------------------- */
/* Tabela Padrão */

table {
  padding-right: 24px;
  border-spacing: 0;
  border-collapse: separate;
  border: 1px #090705;
}

table > caption {
  margin-bottom: 10px;
  margin-left: 5px;
  font-size: 1rem;
  font-weight: bold;
}

td,
th {
  border: solid 0.25px #1b1c1f;
}

td,
th {
  padding-top: 7.5px;
  padding-left: 7.5px;
  padding-right: 7.5px;
  padding-bottom: 7.5px;
}

tr:nth-child(odd),
th {
  background-color: var(--brighter-cell);
}

tr:nth-child(even),
th {
  background-color: var(--darker-cell);
}

/* -------------------------------------------------------------------------- */
/* Mídias Visuais */

iframe {
  max-width: var(--max-content-width-mobile);
  max-height: 51vw;
  width: 560px;
  height: 315px;
  padding-right: var(--margin);
}

figure {
  display: table;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 0px;
}

img {
  max-width: var(--max-content-width-mobile);
}

figcaption {
  font-size: 0.85em;
  display: table-caption;
  caption-side: bottom;
}

/* -------------------------------------------------------------------------- */
/* Formulários */

button#envio {
  color: var(--text-color);
  background-color: var(--darker-cell);
  height: 25px;
}

button#envio a {
  color: var(--text-color);
}

fieldset {
  margin-bottom: 15px;
  padding-left: 40px;
  padding-right: 32px;
}

label:not(#ciencia-privaciadade) {
  display: inline-block;
  width: 125px;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 15px;
}

label#ciencia-privaciadade,
input#ciencia-privaciadade {
  vertical-align: middle;
}

input {
  background-color: var(--darker-cell);
  color: var(--text-color);
  height: 20px;
  border-radius: 7.5px;
  padding-left: 5px;
}

select {
  background-color: var(--darker-cell);
  color: var(--text-color);
  height: 30px;
  padding-left: 2.5px;
}

textarea {
  background-color: var(--darker-cell);
  color: var(--text-color);
}

/* -------------------------------------------------------------------------- */
/* Custom Web Components */

br-nhk-nav h1 {
  font-family: "Futura Book", var(--font-family);
  font-size: 2.25rem;
  color: var(--text-color);
  margin: 0;
}

/* -------------------------------------------------------------------------- */
/* Telas com maiores larguras */

@media (min-width: 600px) {
  body {
    max-width: var(--max-content-width-desktop);
  }

  img,
  iframe {
    max-width: var(--max-content-width-desktop);
  }
}

/* -------------------------------------------------------------------------- */
