@font-face {
  font-family: "Futura Book";
  src: url("http://db.onlinewebfonts.com/t/b46bb1fc76216f5cd90457d0451dbee4.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/b46bb1fc76216f5cd90457d0451dbee4.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("http://db.onlinewebfonts.com/t/b46bb1fc76216f5cd90457d0451dbee4.woff2")
      format("woff2"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/b46bb1fc76216f5cd90457d0451dbee4.woff")
      format("woff"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/b46bb1fc76216f5cd90457d0451dbee4.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("http://db.onlinewebfonts.com/t/b46bb1fc76216f5cd90457d0451dbee4.svg#Futura Book")
      format("svg"); /* iOS 4.1- */
}

body {
  font-family: "Futura Book", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif,
    BlinkMacSystemFont, "Segoe UI";
}
